<header class="grid">
  <h3>Editor textu s AI Gemini, oprava preklepov, diakritiky</h3>
</header>
<main class="container">
  <section class="grid">
    @for (col of cols; track $index) {

    <section class="grid">
      <fieldset>
        @for (item of col; track $index) {
        <label>
          <input type="checkbox" role="switch" [(ngModel)]="item.checked" (ngModelChange)="onMoodChange()" />
          {{item.name}}
        </label>
        }
      </fieldset>
    </section>
    }
  </section>


  <!-- pole pre instrukcie -->
  <section class="grid">
    <input type="text" [ngModel]="instructions()" (ngModelChange)="instructions.set($event)" name="text"
      placeholder="Ďalšie Inštrukcie" aria-label="Text">
  </section>

  <section class="grid">
    <!-- buttony nad vstupnym polom -->
    <div class="button-container">
      <button (click)="pasteFromClipboard()" data-tooltip="Prilepiť z clipboardu"><i
          class="bi bi-clipboard-plus"></i></button>
      <button (click)="correctWithGemini('')" data-tooltip="Opraviť preklepy"><i class="bi bi-magic"></i></button>

      <div class="input-label">
        @if (busy()) {
        <div class="input-label" aria-busy="true"></div>
        }
        <div class="input-label">Input</div>
      </div>


    </div>

    <!-- buttony nad preview -->
    <div class="button-container">
      <button (click)="copyAsRawText()" data-tooltip="Prilepiť z clipboardu"><i class="bi bi-copy"></i></button>
      <div class="input-label">Raw</div>
    </div>
  </section>


  <section class="grid" style="min-height: 400px;">
    <!-- vstupne pole -->
    <textarea [ngModel]="text()" (ngModelChange)="text.set($event)"
      placeholder="Sem píš Markdown alebo vlož text/HTML (Ctrl+V).">
    </textarea>

    <!-- preview pole -->
    <textarea [ngModel]="raw_text()" readonly placeholder=""></textarea>
  </section>


  <!-- buttony -->
  <section class="grid">
    <!-- buttony nad vstupnym polom -->
    <div class="button-container">
      <div class="text-muted">
        {{moods_text()}}
      </div>

    </div>

    <!-- buttony nad preview -->
    <div class="button-container">
      <button (click)="copyAsHtml(preview.innerHTML)" data-tooltip="Prilepiť z clipboardu"><i class="bi bi-copy"></i></button>
      <div class="input-label">HTML</div>
    </div>
  </section>

  <section class="grid">
    <!-- vstupne pole -->
    <div></div>
    <!-- preview pole -->
    <article>
      <div #preview [innerHTML]="previewHtml()"></div>
    </article>
  </section>


  <footer>
    <a href="https://icons.getbootstrap.com/">Bootstrap icons</a>
    <a href="https://picocss.com/">Picoo css</a>

  </footer>
</main>
<!-- 
<pre>
  {{moods | json}}
</pre> -->